@import "bourbon";
@import "vars";

*::-webkit-input-placeholder{
	color: #666;
	opacity: 1
}


*:-moz-placeholder{
	color: #666;
	opacity: 1;
}


*::-moz-placeholder{
	color: #666;
	opacity: 1;
}


*:-ms-input-placeholder{
	color: #666;
	opacity: 1;
}


body input:focus:required:invalid,
body textarea:focus:required:invalid{
	color: #666;
}

body input:required:valid,
body textarea:required:valid{
	color: #666;
}

p, h1, h2, h3{
	margin: 0;
}
h2{
	font:3.75em $default-font-intro;
	color: $accent;
}

body{
	font-size:16px;
	min-width: 320px;
	position: relative;
	line-height:1.42857143;
	font-family: $default-font-reg;
	overflow-x: hidden;
}

