@import "bourbon";
@import "vars";

//Отдельные настройки видео в хедере
/* Если есть поддержка object-fit (Chrome/Chrome для Android, Safari в iOS 8 и Opera), используем его: */
@supports (object-fit: cover) {
  .header_video > video {
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 767px) {
  .header_overlay {
    background: url('../img/bgvideo.jpg') center center / cover no-repeat;
  }
  .header_video > video {
    display: none;
  }

}

/*==========  Desktop First  ==========*/
@media only screen and (max-width : 1500px){
  .contacts {
    .contacts__form {
      padding-left : 1% !important;
    }
    .contacts__map{
      margin-top: 0;
    }
  }
}

/*  Devices, Wide Screens */
@media only screen and (max-width : 1200px){
  /**/
}



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
  .header__svg_header{
    svg{
      text {
        font-size : em(42.8px) !important;
      }
    }
  }
  .header__slogan{
    .hc_slogan{
      left: 90px;
      right: inherit;
    }
  }
  .header__button-cont{
    .button{
      left: 90px;

    }
  }
  .facts {
    .facts__title {
      left : 0;
    }
  }

}




/* Small Devices, Tablets */
@media only screen and (max-width : 768px){

.facts{
  .facts_item{
    overflow: hidden;
    h3{
      font-size: 3.5em !important;
      float: left;
      margin-right:3%;
    }
    p{
      margin-top: 3.5%;
      br{
        display: none;
      }
    }
  }
  .facts_item-title{
    margin-left: 36px;
    &::before{
      top:32px !important;

    }
  }

}
}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
  .header__logo{
    height: em(85px) !important;
    .logo{
      padding-top:7px !important;
    }
    a{
      width: 100%;
    }
    img{
      max-width: 25% !important;
      margin: 0 auto;
    }
  }
  .header__svg_header{
    svg{
      text {
        font-size : em(27px) !important;
      }
    }
  }
  .header__text-adr{
    .hc_text-adr{
      margin-left: 0 !important;
      padding:0 0 0 15px !important;
    }
  }
  .header__slogan{
    min-height: 53% !important;
    .hc_slogan{
      left:58px;
    }
  }
  .header__button-cont{
    min-height: 10% !important;
    .button{
      left:75px;
      bottom:0 !important;
      a{
        font-size: em(15px) !important;
        padding: 5px 41px !important;
        border: 2px solid $gray;
        border-radius:3px;
        color: $accent;
        text-decoration: none;
      }
      .button-txt{
        &::after{
          left: em(183px) !important;
        }
      }
    }
  }
  .header__social{
    .social_link{
      margin-top:15px !important;
      text-align: center !important;
      a{
        font-size: em(12px) !important;

      }
    }
  }
  .service{
    .service__block{
      margin-top: -17px;
    }
  }
  .portfolio__wrapper{
    margin-top: 5% !important;

  }
  .clients {
    .clients_txt{
      overflow: hidden;
      position: static;
      height: 7%;
      h2{
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    .clients_txt2{
      display: none;
    }
    .owl-carousel{
      padding-left: 0;
    }
    .owl-carousel2{
      width: 100%;
    }
  }
  .contacts{
    .contacts__form{
      min-height: em(450px);
      padding-left: 0;
      h2{
        font-size: 2.7em;
        padding-left: 15px;
      }
      .form_input-soc{
        margin-top: 5%;
        .form_city{
          br{
            display: none;
          }
        }
        .form_number{
          margin-top: 10px;
        }
      }
    }
  }

}



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
  /**/
}



/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
  /**/
}



/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
  /**/
}



/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
  /**/
}



/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
  /**/
}



/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
  /**/
}




