@import "bourbon";
@import "vars";

//Отдельные настройки видео в хедере
/* Если есть поддержка object-fit (Chrome/Chrome для Android, Safari в iOS 8 и Opera), используем его: */
@supports (object-fit: cover) {
  .header_video > video {
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 767px) {
  .header_overlay {
    background: url('../img/bgvideo.jpg') center center / cover no-repeat;
  }
  .header_video > video {
    display: none;
  }

}

/*==========  Desktop First  ==========*/

/*  Devices, Wide Screens */
@media only screen and (max-width : 1200px){
  /**/
}



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
  .header__svg_header{
    svg{
      text {
        font-size : em(42.8px) !important;
      }
    }
  }
  .header__slogan{
    .hc_slogan{
      left: 90px;
      right: inherit;
    }
  }
  .header__button-cont{
    .button{
      left: 90px;

    }
  }
}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
  /**/
}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
  .header__logo{
    height: em(85px) !important;
    .logo{
      padding-top:7px !important;
    }
    a{
      width: 100%;
    }
    img{
      max-width: 25% !important;
      margin: 0 auto;
    }
  }
  .header__svg_header{
    svg{
      text {
        font-size : em(27px) !important;
      }
    }
  }
  .header__text-adr{
    .hc_text-adr{
      margin-left: 0 !important;
      padding:0 0 0 15px !important;
    }
  }
  .header__slogan{
    min-height: em(240px) !important;
    .hc_slogan{
      left:58px;
    }
  }
  .header__button-cont{
    min-height: em(30px) !important;
    .button{
      left:75px;
      bottom:0 !important;
      a{
        font-size: em(15px) !important;
        padding: 5px 41px !important;
        border: 2px solid $gray;
        border-radius:3px;
        color: $accent;
        text-decoration: none;
      }
      .button-txt{
        &::after{
          left: em(183px) !important;
        }
      }
    }
  }
  .header__social{
    .social_link{
      margin-top:15px !important;
      text-align: center !important;
      a{
        font-size: em(12px) !important;

      }
    }
  }
}



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
  /**/
}



/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
  /**/
}



/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
  /**/
}



/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
  /**/
}



/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
  /**/
}



/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
  /**/
}




