@import "bourbon";

@mixin outline($color){
  outline:0px solid $color ;
}

$default-font-li-i: 'Ubuntulii', Helvetica,Arial sans-serif;
$default-font-reg: 'Ubuntureg', Helvetica,Arial sans-serif;
$default-font-li: 'Ubuntuli', Helvetica,Arial sans-serif;

$default-font-intro: 'Intro', Helvetica,Arial sans-serif;

$accent: #141414;
$gray: #7a797e;
$blue: #599de0;
