@import "bourbon";

@mixin outline($color){
  outline:1px solid $color ;
}

@mixin mt($time){
  transition: all $time ease;
}

$default-font-li-i: 'Ubuntulii', Helvetica,Arial sans-serif;
$default-font-reg: 'Ubuntureg', Helvetica,Arial sans-serif;
$default-font-li: 'Ubuntuli', Helvetica,Arial sans-serif;

$default-font-intro: 'Intro', Helvetica,Arial sans-serif;

$accent: #141414;
$gray: #7a797e;
$blue: #599de0;
$clients: #f8f9fb;
