@import "bourbon";

$default-font-li-i: 'Ubuntulii', sans-serif;
$default-font-reg: 'Ubuntureg', sans-serif;
$default-font-li: 'Ubuntuli', sans-serif;

$accent: #141414;
$gray: #7a797e;
$blue: #599de0;
