$output-bourbon-deprecation-warnings: false;
@import "bourbon";
@import "fonts";
@import "base";




// Хедер
.header {
  width: 100%;
  position: relative;

  // Хедер--> Логотип
  .header__logo{
    top:0;
    z-index: 2;
    width: 100%;
    height: 127px;
    @include outline(red);
      .logo{
        display:inline-block;
        padding-top: 20px;
      }
  }

  // Хедер--> Адрес
  .header__text-adr{
    @include outline(red);
    z-index: 3;
    height: 60px;

    .hc_contacts{
      padding: 38px 0 0 0;
      font-family: $default-font-li-i;
      font-size:em(20px);
      color: $gray;
      margin-left: 200px;

    }
    p{
      display: block;
      &::after{
        background-color: $gray;
        display: block;
        width:230px;
        content:'';
        position: absolute;
        height: 1px;
        top:50%;
        left: 110px;
      }
    }


  }

  // Хедер--> Svg
  .header__svg_header{
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    svg {
      font-weight : 800;
      width       : 100%;
      height      : 100%;
      position    : absolute;

      text {
        font-family : $default-font-li-i;
        font-size   : em(72px);

      }
    }
    svg mask rect {
      fill: rgba(255, 255, 255, 0.9);
    }
    svg > rect {
      fill         : white;
      -webkit-mask : url(#mask);
      mask         : url(#mask);
    }

    // Хедер--> Svg --> Видео
    .header_video > video {
      min-width  : 100%;
      min-height : 100%;
      width      : auto;
      height     : auto;
    }
  }


}

header{
  &.js-no-svg-header {
    display : none;
  }
}

section {
  height : 1000px;
}







//Load Libs SCSS
@import "media";
@import "libs";
