$output-bourbon-deprecation-warnings: false;
@import "bourbon";
@import "vars";
@import "libs";
@import "fonts";



.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

section {
  padding: 10em 0;
}

header {
  font-size: em(72px);
  width: 100%;
  overflow: hidden;
}

.header__video > video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

svg {
  font-weight: 800;
  width: 100%;
  height: 100%;
  position:absolute;
  text{
    font-family: $default-font-li-i;
  }
}

svg mask rect {
  fill: rgba(255, 255, 255, 0.9);
}

svg > rect {
  fill: white;
  -webkit-mask: url(#mask);
  mask: url(#mask);
}

video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.no-svg-header {
  display: none;
}

section{
  height: 1000px;
}


/* Если есть поддержка object-fit (Chrome/Chrome для Android, Safari в iOS 8 и Opera), используем его: */
@supports (object-fit: cover) {
  .header__video > video {
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 767px) {
  .header_overlay {
    background: url('../img/bgvideo.jpg') center center / cover no-repeat;
  }
  .header__video > video {
    display: none;
  }

}






//Load Libs SCSS
@import "media";
