$output-bourbon-deprecation-warnings: false;
@import "bourbon";
@import "fonts";
@import "base";

img{
  max-width: 100%;
  display: block;
  border: none;
}


// Хедер
.header {
  height: auto;
  width: 100%;
  position: relative;

  // Хедер--> Логотип
  .header__logo{
    width: 100%;
    height: em(127px);
    @include outline(red);
      .logo{
        display:inline-block;
        padding-top: 20px;
      }
  }

  // Хедер--> Адрес
  .header__text-adr{
    overflow: hidden;
    @include outline(red);
    min-height: em(60px);

    p{
      font-family: $default-font-li-i;
      font-size:em(20px);
      color: $gray;
      display: block;
    }

    .hc_text-adr{
      margin-left: em(94px);
      padding: 38px 0 0 0;
      &::after{
        background-color: $gray;
        display: block;
        width:230px;
        content:'';
        position:relative;
        height: 1px;
        left:em(215px);
        bottom:13px;
      }
    }

  }

  // Хедер--> Слоган
.header__slogan{
  position: relative;
  padding: 0;
  clear: both;
  min-height: em(400px);
  @include outline(red);
  p{
    font-family: $default-font-li;
    font-size:em(20px);
    color: $gray;
    display: block;
  }
  .hc_slogan{
    position: absolute;
    bottom: 0;
    right: 0;
    &::before{
      display: block;
      content:'';
      width: 30px;
      margin-bottom: -15px;
      margin-left:-50px;
      height: 1px;
      background-color: $gray;
    }
  }
}
  // Хедер--> Кнопка
  .header__button-cont{
   min-height: em(166px);
    @include outline(red);
    clear: both;
    .button{
      position: absolute;
      bottom: 50px;
      right: 17px;

      a{
        font:em(20px) $default-font-reg;
        padding: 8px 51px;
        border: 2px solid $gray;
        border-radius:3px;
        color: $accent;
        text-decoration: none;
      }


      .button-txt{
        // Хедер--> Кнопка--> Стрелка
        &::after{
          left: em(174px);
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(102, 102, 102, 0);
          border-left-color: $gray;
          border-width:4px;
          margin-top: -4px;
        }

        &::before{
          position: absolute;
          top: 50%;
          left: em(138px);
          display: block;
          content:'';
          width: 46px;
          height: 1px;
          background-color: $gray;
        }
        &:hover{
          &::after{
            border-left-color: $blue;
            @include mt(0.8s) ;
          }
          &::before{
            background-color:$blue;
            @include mt(0.8s) ;
          }
        }
      }
    }
  }

  // Хедер--> Соц.сети
  .header__social{
    min-height: 54px;
    @include outline(red);
    clear: both;
    padding:0;
    .social_link{
      margin-top:36px;
      padding-right:30px;
      text-align: right;
      overflow: hidden;
      height: 18px;
      width: 100%;
      @include outline(red);
      a{
        color:$accent ;
        font: em(16px) $default-font-li;
      }
      .item_link{
        padding-left: 15px;
      }

      .item_link:hover i{
        @include mt(0.8s) ;
        color: $blue;
      }
    }

  }

  // Хедер--> Svg
  .header__svg_header{
    overflow: hidden;
    position: absolute;
    z-index: -9999;
    top: 0;
    width: 100%;
    svg {
      width       : 100%;
      height      : 100%;
      position    : absolute;

      text {
        font-family : $default-font-intro;
        font-size   : em(52.8px);
      }
      mask{
        rect {
          fill: rgba(255, 255, 255, 0.9);
        }
      }

      > rect {
        fill         : white;
        -webkit-mask : url(#mask);
        mask         : url(#mask);
      }

    }

    // Хедер--> Svg --> Видео
    .header_video > video {
      min-width  : 100%;
      min-height : 100%;
      width      : auto;
      height     : auto;
    }
  }


}
header{
  &.js-no-svg-header {
    display : none;
  }
}

// Услуги
.service {
  height: auto;
  min-height : 1081px;
  position: relative;

  .service__title{
    position: absolute;
    @include outline(red);
    transform: rotate( -90deg );
    left:0;
    top: 50%;
    width: 7%;
    height: 5%;
  }

  h2{
    text-align: center;
  }

  // Услуги--> Черный блок
  .service__block{
    @include outline(red);
    box-shadow: 0.144em 2.681em 4.75em 0.25em rgba(1, 1, 1, 0.4);
    border-radius: 30px;
    margin: -65px auto 0;
    width: 86.95%;
    min-height: em(900px);
    background-color: $accent;
    position: relative;


    .service__block_wrapper{
      @include outline(red);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 91.2%;
      height: 54.4%;
      min-height: 55%;
      margin: auto;
      .item{
        @include outline(red);
        height: 247.9px;
        &:nth-child(1){
         border-bottom :1px solid $gray;
         }
        &:nth-child(2){
          border-bottom :1px solid $gray;
          border-left :1px solid $gray;
          border-right :1px solid $gray;
        }
        &:nth-child(3){
          border-bottom :1px solid $gray;
        }
        &:nth-child(5){
          border-left :1px solid $gray;
          border-right :1px solid $gray;
        }
        &:nth-child(n+4){
        padding-top: 88px;
        }
        img{
          margin: 0 auto;
          fill: $blue;
        }
        p{
          text-align: center;
          color:#fff;
          font: em(20px) $default-font-li;
        }
        .service_txt{
          margin-top: 42px;
        }
      }
    }
    .service__button{
      @include outline(red);
      overflow: hidden;
      width: 100%;
      height: 62px;
      position: absolute;
      clear: both;
      bottom: 28px;
      .button{
        text-align: center;
        margin:30px auto;
        a{
          font:em(20px) $default-font-reg;
          padding: 8px 51px;
          border-radius:3px;
          color: $accent;
          text-decoration: none;
          background-color: #fff;

        }

        .button-txt{
          // Хедер--> Кнопка--> Стрелка
          position: relative;
          &::after{
            bottom: em(43px);
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #fff;
            border-width:4px;
            margin-left: -4px;
          }

          &::before{
            position: absolute;
            bottom: em(31px);
            left:50%;
            display: block;
            content:'';
            width: 1px;
            height: 15px;
            background-color: #fff;
          }
          &:hover{
            &::after{
              border-bottom-color: $blue;
              @include mt(0.8s) ;
            }
            &::before{
              background-color:$blue;
              @include mt(0.8s) ;
            }
          }
        }
      }
    }
  }
}

.facts{
  position: relative;
  width: 100%;
  min-height: 621px;
  background: url("../img/facts-bg.jpg") no-repeat 100% 40%;
  background-size: cover;
  @include outline(red);

  .facts__layer{
    @include outline(red);
    padding-top:82px ;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,0.05) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 5%,rgba(255,255,255,0.05) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 5%,rgba(255,255,255,0.05) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0dffffff',GradientType=0 );

  }

  .facts_block_wrapper{
    .facts_item{
      h3{
        font:3.938em $default-font-intro ;
        color: $blue;
      }

      .facts_item-title{
        margin-left: 36px;
        &::before{
          position: absolute;
          top:41px;
          left:16px;
          display: block;
          content:'';
          width:23px;
          height: 1px;
          background-color: $blue;
        }
      }
    }
  }

  .facts__title{
    position: absolute;
    bottom: 43px;
    left: 19%;
    width: 1170px;
    margin: 0 auto;
    h2{
      &::before{
        position: absolute;
        top:50%;
        left:-47px;
        display: block;
        content:'';
        width:31px;
        height: 2px;
        background-color: $accent;
      }
    }
  }

}

.portfolio{
  height: 300px;
}



//Load Libs SCSS
@import "media";
@import "libs";
